:root {
  background-color: #eff0f2;
  font-family: "Space Grotesk", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  display: block;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
::-webkit-scrollbar {
  display: none;
}
.cui-loader--content {
  background: transparent;
  height: 100%;
  padding: 1.1875em 3.4375em 0 4.0625em;
  width: 100%;
}

.cui-loader__header,
.cui-loader__row {
  display: flex;
}

.cui-loader__header {
  margin-bottom: 20px;
  justify-content: space-between;
}

.cui-loader__row {
  align-items: center;
  height: 60px;
}

.cui-loader__row-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .cui-loader__row-items {
    flex-direction: row;
  }
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.cui-loader__breadcrumb,
.cui-loader__actions,
.cui-loader__row-img,
.cui-loader__row-item {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}

.cui-loader__breadcrumb {
  height: 20px;
  width: 152px;
}

.cui-loader__actions {
  height: 20px;
  width: 200px;
}

.cui-loader__row-img {
  border-radius: 50%;
  height: 40px;
  margin-right: 20px;
  width: 40px;
}

.cui-loader__row-item {
  height: 20px;
  margin: 5px 0;
  width: 75%;
}
@media screen and (min-width: 700px) {
  .cui-loader__row-item {
    margin: 0;
    width: 20%;
  }
}

h2 {
  font-size: 48px;
  line-height: 1.5;

  color: #2e2d4d;
  font-weight: 700;
}
h3{
  font-size: 36px;
  line-height: 1.5;

  color: #2e2d4d;
  font-weight: 700;
}
h4{
  font-size: 24px;
  line-height: 1.5;

  color: #2e2d4d;
  font-weight: 700;
}
p{
  margin:16px 0;
  font-size: 16px;
  color: #374151;
}
ul{
  padding: 0 32px;
  list-style-type: decimal;
}
ul li{
  margin:16px 0;
  font-size: 16px;
  color: #374151;
}
img{
  width: 100%;
}